<h2 align = "center"> Employee Details </h2>

<p>
  <strong> Employee_Id: </strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong> Salutation: </strong>
  <%= @employee.salutation %>
  </p>
<p>
  <strong> Employee_Name: </strong>
  <%= @employee.full_name %>
</p>

<p>
  <strong> Email </strong>
  <%= @employee.email %>
</p>

<p>
  <strong> Password: </strong>
  <%= @employee.password %>
</p>

<p>
  <strong> Cell_No: </strong>
  <%= @employee.cell_no %>
</p>

<p>
  <strong> Pan Number: </strong>
  <%= @employee.pan_no %>
</p>

<p>
  <strong> Designation: </strong>
  <%= @employee.designation %>
</p>

<p>
  <strong> UAN Number: </strong>
  <%= @employee.UAN_no %>
</p>

<p>
  <strong> Bank Name: </strong>
  <%= @employee.Bank_Name %>
</p>

<p>
  <strong> Bank Account: </strong>
  <%= @employee.Bank_account %>
</p>

<p>
  <strong> Gross CTC: </strong>
  <%= @employee.Gross_CTC %>
</p>

<p>
  <strong> PF Account Number: </strong>
  <%= @employee.PF_Acc_no %>
</p>

<p>
  <strong> Date of joining: </strong>
  <%= @employee.Dateofjoining %>
</p>