<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">

    <% if is_admin? %>
      <nav>
        <ul class="nav pull-right navbar-nav">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add Admin", add_admin_employee_path(:id) %></li>
                <li><%= link_to "Admin List", admin_list_employees_path %></li>
              </ul>
                </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Employee <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add Employee", new_employee_path %></li>
              <li><%= link_to "Employee List", employees_path %></li>
            </ul>
          </li>

          <li>
            <%= link_to "Logout",  destroy_employee_session_path, method: :delete, :class => 'navbar-link'  %>
          </li>
        </ul>
      </nav>
    <%end%>
    </div>
  </div>
</header>
